<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../public/bootstrap.min.css">
    <link rel="stylesheet" href="../public/main.css">
    <script src="../public/jquery.min.js"></script>
    <script src="../public/bootstrap.min.js"></script>
    <script src="../public/d3.min.js"></script>
    <script src="../public/easy_course.js"></script>
</head>
<html>
<body>
<div id="container">
    <h3>Find the courses with lowest average</h3>
    <form id="queryForm">
        <div class="form-group">
            <label for="dept-name">Department:</label>
            <textarea class="form-control" rows="1" id="dept-name"></textarea>
            <label for="year">Course year: </label>
            <textarea class="form-control" rows="1" id="year"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table id="tblResults">
        <h3>Result</h3>
    </table>
</div>
</body>
</html>
